@import '~modern-normalize/modern-normalize.css'; // css reset
@import '~@cds/core/global.min.css'; // clarity global styles
@import '~@cds/core/styles/module.shims.min.css'; // non-evergreen browser shims
@import '~@cds/city/css/bundles/default.min.css'; // load base font


.meter {
  height: 5px;
  position: relative;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
}

@keyframes progressBar {
0% { width: 0; }
99% { width: 100%; }
100% { width: 0%; }
}
