@import '~modern-normalize/modern-normalize.css'; // css reset
@import '~@cds/core/global.min.css'; // clarity global styles
@import '~@cds/core/styles/module.shims.min.css'; // non-evergreen browser shims
@import '~@cds/city/css/bundles/default.min.css'; // load base font
@import '~@cds/core/styles/theme.dark.min.css';

body, html {
  background-color: var(--cds-global-color-construction-100);
}

.body-layout {
  box-shadow: 0.01rem 0.05rem 0.2rem 0.1rem hsl(198, 0%, 80%);
  background-color: #FFFFFF;
}

.body-app-layout {
  overflow: hidden;
  margin: auto;
  height: 100%;
}

.body-header {
  background: var(--cds-global-color-construction-900);
  color: var(--cds-global-color-gray-0);
  max-height: 100px;
}

.body-header div p {
  width: 100%;
}

.container {
  position: relative;
}

.message-card {
  --padding: 8px;
  position: absolute;
  top: -100px;
  left: 0;
}

.body-divider {
  --color: var(--cds-global-color-gray-500);
}

.section-content {
  width: 100%;
}

.garden {
  font-family: monospace;
  width: 100%;
}

.docs-story [id*='story--'] {
  position: relative;
  min-height: 400px;
}

.meter {
  height: 5px;
  width: 120%;
  position: relative;
  top: -18px;
  left: -10px;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
  width: 100%;
}

.seed-button {
  --border-width: 2px;
  --text-transform: none;
  --padding: 5px;
  outline: 'none';
  outline-width: 0ch;
}

.resource-button {
  --border-width: 2px;
  --text-transform: none;
  --padding: 5px;
  outline: 'none';
  outline-width: 0ch;
}

.coin-display {
  text-align: right;
  padding: 5px;
  border: var(--cds-alias-object-border-width-100) solid var(--cds-alias-object-container-border-color);
  width: 30%;
}

// Bottom Navigation
.cds-horizontal-nav {
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-100) * -1) 0 0 var(--cds-alias-object-border-color);
  background: var(--cds-alias-object-container-background);
}

.cds-horizontal-nav button {
  align-items: center;
  align-content: center;
  justify-items: center;
  gap: var(--cds-global-space-5);
  background: transparent;
  border: 0;
  color: var(--cds-alias-object-interaction-color);
  padding: 0 var(--cds-global-space-6);
  min-height: var(--cds-alias-object-interaction-touch-target);
  cursor: pointer;
  text-align: center;
}

.cds-horizontal-nav button cds-icon {
  margin-top: -1px;
}

.cds-horizontal-nav button:hover,
.cds-horizontal-nav button[hover] {
  color: var(--cds-alias-object-interaction-color-hover);
}

.nav-top button:hover,
.nav-top button[hover] {
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-300) * -1) 0 0
    var(--cds-alias-object-interaction-background-highlight);
}

.nav-bottom button:hover,
.nav-bottom button[hover] {
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-300) * 1) 0 0
    var(--cds-alias-object-interaction-background-highlight);
}

.cds-horizontal-nav button:hover cds-icon,
.cds-horizontal-nav button[hover] cds-icon,
.cds-horizontal-nav button cds-icon:hover {
  color: var(--cds-alias-object-interaction-color-hover);
  cursor: pointer;
}

.cds-horizontal-nav button:active,
.cds-horizontal-nav button[active] {
  color: var(--cds-global-color-blue-800);
}

.nav-top button:active,
.nav-top button[active] {
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-300) * -1) 0 0
    var(--cds-alias-object-interaction-background-highlight);
}

.nav-bottom button:active,
.nav-bottom button[active] {
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-300) * 1) 0 0
    var(--cds-alias-object-interaction-background-highlight);
}

.cds-horizontal-nav button:active cds-icon,
.cds-horizontal-nav button[active] cds-icon {
  color: var(--cds-global-color-blue-800);
}

.cds-horizontal-nav button[selected] {
  color: var(--cds-alias-object-interaction-selected);
}

.cds-horizontal-nav button[disabled] {
  color: var(--cds-alias-object-interaction-color-disabled);
  box-shadow: inset 0 calc(var(--cds-alias-object-border-width-100) * -1) 0 0 var(--cds-alias-object-border-color);
  cursor: not-allowed;
}

.cds-horizontal-nav button[disabled] cds-icon {
  color: var(--cds-alias-object-interaction-color-disabled);
  cursor: not-allowed;
}

.cds-horizontal-nav button[focused] {
  outline: var(--cds-alias-object-interaction-outline);
  outline-offset: calc(var(--cds-alias-object-interaction-outline-offset) * -1);
}

@media (-webkit-min-device-pixel-ratio: 0) {
  .cds-horizontal-nav button[focused] {
    outline: var(--cds-alias-object-interaction-outline-webkit);
  }
}