@import '~modern-normalize/modern-normalize.css'; // css reset
@import '~@cds/core/global.min.css'; // clarity global styles
@import '~@cds/core/styles/module.shims.min.css'; // non-evergreen browser shims
@import '~@cds/city/css/bundles/default.min.css'; // load base font
@import '~@cds/core/styles/theme.dark.min.css';

body, html {
  height: 100%;
  background-color: var(--cds-global-color-construction-100);
}

.body-layout {
  box-shadow: 0.01rem 0.05rem 0.2rem 0.1rem hsl(198, 0%, 80%);
  background-color: #FFFFFF;
}

.body-app-layout {
  overflow: hidden;
  margin: auto;
  height: 100%;
}

.body-header {
  background: var(--cds-global-color-construction-900);
  color: var(--cds-global-color-gray-0);
  max-height: 68px;
  width: 350px;
}

.body-header div p {
  width: 100%;
}

.body-message cds-alert {
  height: 73px;
}

.body-message-blank {
  height: 77px;
  width: 100%;
}

.body-divider {
  --color: var(--cds-global-color-gray-500);
}

.section-content {
  width: 100%;
}

.garden {
  font-family: monospace;
  width: 100%;
}

.docs-story [id*='story--'] {
  position: relative;
  min-height: 400px;
}

.meter {
  height: 5px;
  width: 120%;
  position: relative;
  top: -18px;
  left: -10px;
  background: #f3efe6;
  overflow: hidden;
}

.meter span {
  display: block;
  height: 100%;
  width: 100%;
}

.seed-button {
  --border-width: 2px;
  --text-transform: none;
  --padding: 5px;
  outline: 'none';
  outline-width: 0ch;
}

.resource-button {
  --border-width: 2px;
  --text-transform: none;
  --padding: 5px;
  outline: 'none';
  outline-width: 0ch;
}

.coin-display {
  text-align: right;
  padding: 5px;
  border: var(--cds-alias-object-border-width-100) solid var(--cds-alias-object-container-border-color);
  width: 30%;
}
